.o-masonry{
    text-align: center;
    column-count: 1;
    column-gap: 1rem;
    
    .o-card{
        break-inside: avoid-column;
        /* for Firefox */
        display: inline-grid;
        page-break-inside: avoid;
    
        img{
            width: 100%;
            transition: all 3s;
        }

        &:hover img{
            transform: scale(1.3);
        }

        &:hover .o-hover-overlay{
            transform: scale(1);
        }
    }
}


.o-hover-overlay{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all .3s;

    a{
        width: 33px;
        height: 33px;
        line-height: 33px;
    }
}