.responsive-menu{
    top: 0;
    left: -100%;
    width: 285px;
    height: 100vh;
    z-index: 999;
    transition: all .65s;

    .res-back-avatar{
        width: 100%;
        height: 233px;
        background: url('./../images/left-back.png') center no-repeat;;
    }

    & > nav{
        height: 340px;
        overflow-y: auto;
    }

    .copyright{
        bottom: 0;
        left: 0;
        width: inherit;
    }
}

.o-left-zero{
    left: 0;
}